* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    font-family: sans-serif;
}

/* div,
section,
span,
ul,
li,
a, */

/* header {
    box-sizing: border-box;
} */


header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
    box-sizing: border-box;
}
.dashboard{
    background-color:#0072AA;
    justify-content: center;

}

#menu li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.logo{
    display: flex;
    justify-content: center;
    padding-top: 23%;
}
.assignment h1{
    
    color: #0072AA;
   padding-left: 13%;
}
section {
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
    
}

#step2 {
    /* background-color: #fff; */
    align-items: center;
    justify-content: center;

}
.meadingline{
    justify-content: center;
    color: #0072AA;
}
#myChart{
    margin-top: 55px;
    
    padding-left: 20%;
   
}
#step3 {
    background-color: #fff;
    margin-top: 80px;
}

.stepheadingmain{
    margin-top:95px;
    display: flex;
    justify-content: center;
    color: #0072AA;
}
h1 {
    position: absolute;
    top: 45%;
    left: 45%;
    margin-top: 300px;
    transform: translate(-50%, -50%);
    color: black;
}


.barheading{
    margin-top: 115px;
    display: flex;
    justify-content: center;
    color: #0072AA;
}
.bargraph{
    /* margin-top: 55%; */
    padding-top: 55px;
}
.modelheading{
    display: flex;
    justify-content: center;
    margin-top: 12%;
    color: #0072AA;
}



